<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Anamnesis.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Anamnesis.Core.Properties.Settings>
      <setting name="TFSUrl" serializeAs="String">
        <value>http://tfsapp:8080/tfs</value>
      </setting>
      <setting name="NumDaysInCycle" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="TFSMasterBranch" serializeAs="String">
        <value>$/Your-Master-Branch-Mapping</value>
      </setting>
    </Anamnesis.Core.Properties.Settings>
  </userSettings>
</configuration>